@use "../../styles/utils/colors.scss";

.appartment__aside {
    padding-top: 1rem;
    margin: 0 10px;
    margin-bottom: 5px;
    .appartment__aside__owner {
        display: flex;

        h3 {
            display: flex;
            flex-direction: column;
            padding-right: 10px;
            font-weight: 100;
        }

        .appartment__aside__owner__portrait img {
            height: 100px;
            width: 100px;
            border-radius: 50px;
            background-color: colors.$color-owner;
        }
    }

    .appartment__aside__stars {
        display: flex;
        gap: 0.2rem;
        color: colors.$color-owner;
        
        
        * {
            font-size: 2rem;
        }
        
        .on {
            color: colors.$color-primary;
        }
    }

}

.appartment__title__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 1rem;


    span {
        background-color: colors.$color-primary;
        color: colors.$color-secondary;
        padding: 0.3rem 2.5rem;
        border-radius: 15px;
    }
}

@media (max-width: 768px) {

    .appartment__aside {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

        .appartment__aside__owner__portrait {
            margin: auto;
        }
    }
}