@use "../utils/colors.scss";

.LinkToAppartmentPage {
    text-decoration: none;
    
    
    .appartment {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
    }
    img {
        width: 340px;
        height: 340px;
        object-fit: cover;
        border-radius: 1rem;
        filter: brightness(80%);
        transform: scale(1);
        &:hover {
            box-shadow: 0px 2px 8px 3px rgba(115,115,115,0.38);
            filter: brightness(100%);
            transform: scale(1.01);
    }
    
        }
        
        .appartment__sub {
            color: rgb(255, 255, 255);
            position: absolute;
            bottom: 20px;
            padding: 10px 180px;
            padding-left: 10px;
            
        }
    }
