@use "../utils/colors.scss";

.appartmentCards {
    background: colors.$color-secondary;
    padding: 60px 60px;
    min-width: 35vh;
    min-height: 50vh;
    border-radius: 25px;
    display: flex;
    flex-flow: wrap;
    gap: 60px;
    margin-bottom: 2rem;
    justify-content: space-around;

    @media (max-width: 500px) {
        justify-content: center;
        padding: 40px 10px;
    }
}