@use "../../styles/utils/colors.scss";



.appartmentHeader {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

h1,
h2,
h3,
p,
span {
    color: colors.$color-primary;
}



.appartment__carousel {
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}
